# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out
coverage.html

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vendor directory (if not committing)
# vendor/

tmp/
dist/kubelet-proxy-linux-amd64.tar.gz
dist/kubelet-proxy-linux-amd64.tar.gz.sha256
dist/kubelet-proxy-linux-arm64.tar.gz
dist/kubelet-proxy-linux-arm64.tar.gz.sha256
